<h1>AngularFirebase.com: Animations [Jul 24, 2017]</h1>

<ul>
    <li>
        <a [routerLink]="['/pop-over']">AngularFirebase: pop-over animation</a>
    </li>
    <li>
        <a [routerLink]="['/multi-state']">AngularFirebase: multi-state animation</a>
    </li>
    <li>
        <a [routerLink]="['/keyframes']">AngularFirebase: keyframes animation</a>
    </li>
    <li>
        <a [routerLink]="['/callbacks']">AngularFirebase: callbacks animation</a>
    </li>
    <li>
        <a [routerLink]="['/lists']">AngularFirebase: lists animation</a>
    </li>
</ul>

<p><a href="https://angularfirebase.com/lessons/animation-examples-in-angular-4-3/">[source]</a></p>