<nx-workspace-menu></nx-workspace-menu>

<div>
    <div #simpleBlock class="animated block">
    </div>
    <button (click)="slideDivBack()">Slide Back</button>
    <button (click)="slideDivForward()">Slide Forward</button>
</div>

<div #photos>
    <img alt="kitten" class="photo" src="https://placekitten.com/65/65" />
    <img alt="kitten" class="photo" src="https://placekitten.com/129/129" />
    <img alt="kitten" class="photo" src="https://placekitten.com/146/146" />
    <button (click)="slideBack()">Slide Back</button>
    <button (click)="slideForward()">Slide Forward</button>
</div>