.block-container.header {
    & > h1,
    & > .controls {
        display: inline-block;
        padding-left: 2em;

        & > .command {
            cursor: pointer;
            font-size: 2.4em;
            margin: 0.5em;
        }
    }
}

$thumb-spacing: 4px;
$thumb-width: 120px;
$thumb-height: 90px;

.block-container.wrapper {
    background-color: #add8e6;
    height: $thumb-spacing + $thumb-height + $thumb-spacing;
    margin: 0 auto;
    max-width: ($thumb-spacing + $thumb-width) * 8;
    overflow: hidden;
    position: relative;
    white-space: nowrap;

    & > div {
        position: absolute;
    }

    & > div > span {
        background-color: #ff0000;
        display: inline-block;
        font-size: 2.4em;
        margin: 0;
        margin-right: $thumb-spacing;
        height: $thumb-height;
        vertical-align: text-bottom;
        width: $thumb-width;
    }
}

$thumbs-responsive-widths: (
    /* (4 + 120 ) * 8 = 992 */ 8-thumbs: 992px,
    /* (4 + 120 ) * 7 = 868 */ 7-thumbs: 868px,
    /* (4 + 120 ) * 6 = 744 */ 6-thumbs: 744px,
    /* (4 + 120 ) * 5 = 620 */ 5-thumbs: 620px,
    /* (4 + 120 ) * 4 = 496 */ 4-thumbs: 496px,
    /* (4 + 120 ) * 3 = 372 */ 3-thumbs: 372px,
    media-max-width: (
        /* measured by hand: 1040 */ 7-thumbs: 1040px,
        /* (1040/868) * 744 = 891 */ 6-thumbs: 891px,
        /* (1040/868) * 620 = 743 */ 5-thumbs: 743px,
        /* (1040/868) * 420 = 594 */ 4-thumbs: 654px,
        /* (1040/868) * 372 = 446 */ 3-thumbs: 446px
    )
);

$thumbs-media-max-width: map-get($thumbs-responsive-widths, media-max-width);

@each $key, $value in $thumbs-media-max-width {
    @media (max-width: map-get($thumbs-media-max-width, $key)) {
        .block-container.wrapper {
            width: map-get($thumbs-responsive-widths, $key);
        }
    }
}
