.block-container {
    background-color: #add8e6;
    height: 98px; /* 4 + 90 + 4 = 98 */
    margin: 0 auto;
    max-width: 992px; /* (4 + 120 ) * 8 = 992 */
    overflow: hidden;
    white-space: nowrap;
}

.command {
    font-size: 2.4em;
}

.block-container.wrapper {
    position: relative;
}

.block-container.wrapper > div {
    position: absolute;
}

.block-container.wrapper > div > span {
    background-color: #ff0000;
    display: inline-block;
    font-size: 2.4em;
    margin: 0;
    margin-right: 4px;
    height: 90px;
    vertical-align: text-bottom;
    width: 120px;
}

/*
    .block-container.wrapper
    responsive widths:
    (4 + 120 ) * 8 = 992
    (4 + 120 ) * 7 = 868
    (4 + 120 ) * 6 = 744
    (4 + 120 ) * 5 = 620
    (4 + 120 ) * 4 = 496
    (4 + 120 ) * 3 = 372
*/

@media (max-width: 1040px) { /* measured by hand: 1040 */
    .block-container.wrapper {
        width: 868px;
    }
}

@media (max-width: 891px) { /* (1040/868) * 744 = 891 */
    .block-container.wrapper {
        width: 744px;
    }
}

@media (max-width: 743px) { /* (1040/868) * 620 = 743 */
    .block-container.wrapper {
        width: 620px;
    }
}

@media (max-width: 654px) { /* (1040/868) * 420 = 594 */
    .block-container.wrapper {
        width: 496px;
    }
}

@media (max-width: 446px) { /* (1040/868) * 372 = 446 */
    .block-container.wrapper {
        width: 372px;
    }
}
